.btn-default {
	text-transform: uppercase;
	font-weight: 400;
	background-color: #fe6033;
	color: #ffffff;
	border: none;
	border-radius: 0;
	-moz-box-shadow: 1px 3px 5px #383838;
	-webkit-box-shadow: 1px 3px 5px #383838;
	box-shadow: 1px 3px 5px #383838;
	width: 180px;
	height: 50px;
}

.btn-default:hover, .btn-default:focus {
	background-color: #e22b1c;
	color: #ffffff;
	border: none;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
	color: #ffffff;
	background-color: #e22b1c;
	border: none;
}
