@media (max-width: 1000px) {
	/* ============ about ============ */
	.about h2 {
		margin-top: 0;
	}
	.about h2, .about p {
		text-align: center;
	}
	.about p {
		max-width: 100%;
	}
	/* ============services ============ */
	.services-list {
		margin-top: 0;
	}
	.services .tomatos {
		margin-top: 10px;
		margin-bottom: 55px;
	}
	/* ============gallery ============ */
	.gallery p {
		padding: 20px 0;
	}
	.gallery .col-md-4 img {
		margin-bottom: 0;
	}
	.gallery img {
		max-width: 50%;
		margin: 0 auto;
		margin-top: 28px;
	}
	.gallery .show-hide1 {
		margin-top: 0;
	}
	/* ============subscribe ============ */
	.subscribe {
		background-position: top center;
	}
	.subscribe p {
		width: 76%;
	}
	.subscribe #email {
		width: 95%;
		margin: 0 auto;
	}
	.subscribe .btn-default {
		margin-left: 0;
		width: 95%;
		margin: 0 auto;
	}
	/* ============ blog ============ */
	.blog p.center-block {
		width: 100%;
	}
	/* ============ contact ============ */
	.contact  h2 {
		margin-bottom: 20px;
	}
	.contact p {
		width: 100%;
		letter-spacing: 1px;
	}
	/* ============ footer ============*/
	.footer p, .footer img {
		padding: 5px;
	}
	.footer img {
		margin-bottom: 0;
	}
}

/* ============ mobile ============ */
@media (max-width: 800px) {
	/* ============ general ============ */
	h2 {
		font-size: 65px;
		letter-spacing: 1px;
	}
	p {
		font-size: 15px;
	}
	/* ============ navbar ============ */
	.navbar-default {
		background-color: #ffffff;
	}
	.navbar-default .navbar-nav>li>a {
		padding: 12px;
		margin: 0;
		border: none;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		border: none;
		color: #fe6033;
	}
	.navbar-default .navbar-nav>li>a:hover {
		color: #fe6033;
		border: none;
	}
	.navbar-fixed-top {
		padding: 10px;
	}
	.navbar-default .navbar-brand {
		padding-top: 0;
	}
	/* ============ heeader ============*/
	.header-content {
		padding: 10px;
	}
	/* ============ subscribe ============ */
	.subscribe .your-email {
		width: 96%;
	}
	/* ============ contact ============ */
	.contact ul {
		color: #ffffff;
		text-shadow: 2px 2px 6px rgb(69, 69, 69);
		letter-spacing: 1px;
		font-size: 15px;
		padding: 0;
		margin-top: 30px;
	}
	.contact input {
		height: 40px;
	}
	.contact textarea {
		height: 90px;
	}
}

@media (max-width: 500px) {
	/* ============ general ============  */
	h2 {
		font-size: 35px;
	}
	p {
		font-size: 14px;
	}
	/* ============ services ============ */
	.services-list {
		width: 100%;
	}
	.services-li::before{
		content: '';
		height: 100%;
		background-color: #9D9D9D;
		position: absolute;
		top: 0%;
		right: 25%;
	}
	.services-list img {
		margin: 0;
	}
	/* ============ subscribe ============ */
	.subscribe p {
		width: 100%;
	}
	.subscribe .your-email {
		height: 50px;
	}
	.subscribe .btn-default {
		letter-spacing: 1px;
		width: 96%;
		height: 50px;
	}
	/* ============ blog ============ */
	.post-blog .post-date {
		width: 40px;
		height: 40px;
		border-radius: 5px;
		line-height: 18px;
		top: 22px;
		left: 22px;
		font-size: 14px;
		padding: 2px;
	}
	.post-title h4 {
		font-size: 16px;
	}
	.post-title .post-author {
		font-size: 12px;
	}
}
